.add-new-card-modal-container {
  display: block;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal__inner {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 20px;
}

.new-card-form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.field-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0 10px 0;
}

.field-container input, textarea {
  display: flex;
  flex: 1;
  margin: 0 0 0 10px;
  min-height: 30px;
  align-items: flex-start;
}

.field-container label {
  text-align: left;
  margin-bottom: 10px;
}

.close-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.close-modal {
  background-color: #fefefe;
  border-color: #fefefe;
  color: black;
}

.close-modal:hover {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  color: white;
}

.close-modal:focus-visible:enabled  {
  color: white;
}

.submit-form-button {
  width: 200px;
}

@media screen and (min-width: 480px) {
  .field-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 10px 0;
  }

  .field-container label {
    width: 100px;
    text-align: left;
    margin-bottom: 0;
  }

  .field-container input, textarea {
    display: flex;
    flex: 1;
    margin: 0 0 0 10px;
    min-height: 30px;
    align-items: flex-start;
  }
}
