.circle-button {
  background: rgb(22, 45, 75);
  border: 2px solid rgb(247, 212, 47);
  border-radius: 40px;
  width: 44px;
  height: 44px;
  color: white;
  font-size: 16px;
} 

.circle-button:hover:enabled {
  background: rgb(62, 95, 141);
  border-color: rgb(245, 208, 31);
}

.circle-button:focus-visible:enabled {
  background-color: rgb(0, 56, 129);
}

.disabled {
  background-color: #DADBE1;
  border-color: #DADBE1;
  color: #505152 !important;
}