.App {
  text-align: center;
  background: #F5F8FC;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #F0F1FB;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding: 10px;
}

.App-body {
  display: flex;
  flex: 1;
  min-height: 90vh;
  padding: 16px;
  flex-direction: column;
}

.header-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 480px) {
  .App-header {
    padding: 10px 30px;
  }

  .App-logo {
    height: 70px;
  }

  .header-text {
    font-size: 18px;
  }

  .App-body {
    flex-direction: row;
  }
}